* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.5;
}
.welcome {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.welcome > h2 {
  color: #000;
  height: 25px;
}
.welcome > p {
  padding: 50px 0;
  width: 75%;
  height: 25px;
  color: #ebebe0;
  text-align: center;
}
.welcome > img {
  width: 80%;
  height: 800px;
}

/* what we do */
.what_we_do {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}
.wrap {
  width: 24%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 5px 0px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.wrap > img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.wrap > p {
  text-align: center;
}

/* Dog Home */
.header_wireframe {
  /* display: flex;
  flex: 1; */
  height: 600px;
  background-image: url("./img/1.jpg");
}
.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.container > b {
  color: #fff;
  padding: 10px;
  font-size: 20px;
}
.main_header {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  color: #fff;
}
.main_header > button {
  background-color: rgba(255, 255, 255, 0);
}
